{
  "$schema": "https://opencode.ai/config.json",
  "model": "LiteLLM/openai/glm-5.1",
  "small_model": "LiteLLM/openai/deepseek-v3.2",
  "provider": {
    "Huawei-MaaS": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Huawei-MaaS",
      "options": {
        "baseURL": "https://api-ap-southeast-1.modelarts-maas.com/openai/v1",
        "apiKey": "<HUAWEI_MAAS_API_KEY>"
      },
      "models": {
        "glm-5.1": {
          "name": "glm-5.1",
          "limit": { "context": 198000, "input": 192000, "output": 128000 }
        },
        "glm-5": {
          "name": "glm-5",
          "limit": { "context": 198000, "input": 192000, "output": 64000 }
        },
        "deepseek-v4-pro": {
          "name": "deepseek-v4-pro",
          "limit": { "context": 1000000, "input": 1000000, "output": 128000 }
        },
        "deepseek-v4-flash": {
          "name": "deepseek-v4-flash",
          "limit": { "context": 1000000, "input": 1000000, "output": 128000 }
        },
        "deepseek-v3.2": {
          "name": "deepseek-v3.2",
          "limit": { "context": 160000, "input": 128000, "output": 32000 }
        }
      }
    },
    "LiteLLM": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "LiteLLM",
      "options": {
        "baseURL": "http://0.0.0.0:4000",
        "apiKey": "<LITELLM_VIRTUAL_KEY>"
      },
      "models": {
        "openai/glm-5.1": {
          "name": "glm-5.1",
          "limit": { "context": 198000, "input": 192000, "output": 128000 }
        },
        "openai/glm-5": {
          "name": "glm-5",
          "limit": { "context": 198000, "input": 192000, "output": 64000 }
        },
        "openai/deepseek-v4-pro": {
          "name": "deepseek-v4-pro",
          "limit": { "context": 1000000, "input": 1000000, "output": 128000 }
        },
        "openai/deepseek-v4-flash": {
          "name": "deepseek-v4-flash",
          "limit": { "context": 1000000, "input": 1000000, "output": 128000 }
        },
        "openai/deepseek-v3.2": {
          "name": "deepseek-v3.2",
          "limit": { "context": 160000, "input": 128000, "output": 32000 }
        }
      }
    }
  },
  "plugin": [
    "oh-my-opencode-slim"
  ],
  "agent": {
    "explore": { "disable": true },
    "general": { "disable": true }
  },
  "lsp": true
}
